<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
</head>
<body>
<p></p>
<h2 align="center">Documentation</h2>
<div style="text-align: center; font-size: 1.2em">
    <p></p>
    <p>Получение официального курса белорусского рубля по отношению к иностранным валютам на
            выбранную дату:</p>
        <p><b>Параметры (GET):</b></p>
        <p>date – дата, на которую запрашивается курс, формат date=YYYY-MM-DD</p>

        <p><b>Адрес запроса:</b> http://127.0.0.1:8000/api/v1/currencies{date}</p>
        <p>Например, получение официального курса белорусского рубля по отношению к
            иностранным валютам, на 8 марта 2023 года:</p>
        <p></p>
        <a href="http://127.0.0.1:8000/api/v1/currencies?date=2023-03-8" target="_blank">http://127.0.0.1:8000/api/v1/currencies?date=2023-03-8</a>
    <p></p>
    <p><b>Параметры (GET):</b></p>
        <p>date – дата, на которую запрашивается курс, формат date=YYYY-MM-DD</p>
        <p>uid – внутренний код валюты, формат uid=451 </p>
        <p> Например uid следующих валют, 431 - Доллар США, 451 - Евро</p>

        <p><b>Адрес запроса:</b> http://127.0.0.1:8000/api/v1/currency[{date}]&[{uid}]</p>
        <p>Например, получение официального курса белорусского рубля по отношению к
            евро, на 13 февраля 2023 года:</p>
        <p></p>
        <a href="http://127.0.0.1:8000/api/v1/currency?date=2023-02-13&uid=451" target="_blank">http://127.0.0.1:8000/api/v1/currency?date=2023-02-13&uid=451</a>
</div>
<p></p>
<p></p>
</body>
</html>